# Ignore large data + pipeline outputs
data/
artefacts/

# Common large file formats
*.csv
*.tsv
*.parquet
*.pkl
*.hdf5
*.feather

# Powershelll run scripts
*.ps1

# Python cache
__pycache__/
*.pyc

# Python environment
.venv

# Include pipeline configuration
!config/
!config/d_items_keep.csv